.logocac{
    height: 4rem;
}

.bg-header{
    background-color:rgb(66, 66, 66);
}

.headerItem{
    color: rgb(177, 177, 177);
}

.headerCompra{
    color: rgb(4, 160, 4);
}

.bg-primerFondo{
    background-image: url("../assets/ba1.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: bottom;
    height: 45rem;
    width: 100%;
}

.bg-primerFondo::before{
    left: 0;
    width: 100%;
    height: 45rem;
    opacity: 0.5;
    background-color: #000;
    position: absolute;
    display: block;
    content: "";
}

.caja-primerFondo{
    margin-left: 60%;
    padding-top: 20%;
    position: relative;
    width: 32rem;
}


.foto {
    height: 28rem;
}

.bg-footer{
    background-color:#1E4860;
}

.card {
    margin-bottom: 20px;
  }

  .card:hover {
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    cursor: default;
  }

  .card-title,
    .card-text,
    .text-muted {
      text-align: center;
    }

.selected {
        border: 3px solid blue;
      }

 .resaltado-celeste {
        background-color: #c3e6ec;
        color: #000;
      }

@media screen and (max-width: 1025px) {
    .bg-primerFondo{
        height: 35rem;
        align-content: center
    }

    .bg-primerFondo::before{
        height: 25rem;
    }

    .caja-primerFondo{
        margin-left: 20%;
        padding-top: 10%;
        position: relative;
    }
  }

  @media screen and (max-width: 426px) {
    .bg-primerFondo{
        height: 25rem;
        align-content: center
    }

    .bg-primerFondo::before{
        height: 25rem;
    }


    .caja-primerFondo{
        width: 250px;
        margin: 0;
        padding: 0  ;
        padding-top: 0;
        position: relative;
        
   
    }
  }